fastapi
uvicorn
transformers
torch
pydantic
streamlit
streamlit-folium
folium
streamlit-mic-recorder
requests
sqlalchemy
geopy
python-multipart
sentence-transformers
certifi
diffusers
accelerate
safetensors
invisible_watermark
Pillow
openai-whisper
gTTS
pyttsx3 